.textgreen
  color: #86A23A    
  
img
  max-width: 100%

.desk
  display: block
  @media screen and (max-width: 576px)
    display: none  

.mob
  display: none
  @media screen and (max-width: 576px)
    display: block    

.toys
  margin: 250px 0 0px
  padding: 100px 0
  position: relative
  min-height: 400px
  background-color: #86A23A
  @media screen and (max-width: 576px)
    margin: 100px 0 0px
    padding: 30px 0
  &:after, &::before
    content: ''
    position: absolute
    width: 100%
    height: 200px
    @media screen and (max-width: 1200px)
      display: none
  &:after
    background: url('../img/green-curve-bottom.png') center/contain no-repeat
    bottom: -11%
    @media screen and (max-width: 576px)
      bottom: -115px
  &::before
    top: -170px
    background: url('../img/green-curve-top.png') center/contain no-repeat
    z-index: -1
    @media screen and (max-width: 576px)
      top: -117px
  h2
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 95.5%
    text-align: center
    letter-spacing: -0.01em
    color: #FFFFFF
    @media screen and (max-width: 576px)
      font-size: 26px
  .toysSlider
    overflow: hidden
    .slick-track
      display: flex
  .arrow
    position: absolute
    top: 50%
    z-index: +1
    &-left
      left: 50px
    &-right
      right: 50px
      transform: rotate(180deg)
    .slide
      img
        max-width: 100%
  .leaves 
    position: absolute
    bottom: -200px
    left: 0
    z-index: +1

.applaydu
  position: relative
  padding-top: 80px
  padding-bottom: 150px
  text-align: center
  background: url(../img/app-bg.jpg) bottom/contain no-repeat
  @media screen and (max-width: 576px)
    padding-top: 150px
    padding-bottom: 350px
  &::before
    content: ''
    background: url(../img/leaves-top-left.png) left/contain no-repeat
    width: 400px
    height: 300px
    position: absolute
    top: 0
    left: 0
    z-index: -1
    @media screen and (max-width: 1200px)
      display: none
    @media screen and (max-width: 576px)
      max-width: 100%
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 200px
    background: url('../img/app-top.png') center/contain no-repeat
    bottom: -60px
    left: 0
    @media screen and (max-width: 1200px)
      display: none
    @media screen and (max-width: 576px)
      display: none
  .flamingo
    position: absolute
    right: 0
    top: 100px
    @media screen and (max-width: 576px)
      display: none
  .horse
    position: absolute
    left: 0
    bottom: 50px
    @media screen and (max-width: 576px)
      bottom: -50px
      max-width: 200px
  .applaydulogo
    margin: 0 auto
    @media screen and (max-width: 576px)
      max-width: 100%
  h3
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 27px
    line-height: 178%
    text-align: center
    color: #424242
    @media screen and (max-width: 576px)
      font-size: 18px
      max-width: 300px
      margin: 0 auto
  .video
    max-width: 550px
    margin: 30px auto
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 31px
    text-align: center
    color: #424242
    @media screen and (max-width: 576px)
      font-size: 13px
      line-height: unset
    img
      margin: 10px auto
  .links
    margin: 0 auto
  .mob
    @media screen and (max-width: 576px)
      margin-top: 30px
      display: block
  .step
    @media screen and (max-width: 576px)
      margin: 30px auto

.packs
  padding-top: 80px
  padding-bottom: 80px
  text-align: center
  position: relative
  .heart
    position: absolute
    top: 10%
    left: 5%
    @media screen and (max-width: 576px)
      width: 50px
  h3
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 95.5%
    text-align: center
    letter-spacing: -0.01em
    color: #303030
    @media screen and (max-width: 576px)
      font-size: 30px
  img
    max-height: 500px
    margin: 0 auto
  .text
    font-family: 'Noteworthy'
    font-style: normal
    font-weight: 300
    font-size: 35px
    line-height: 135%
    text-align: center
    letter-spacing: -0.01em
    color: #000000
    @media screen and (max-width: 576px)
      font-size: 22px
  .btn
    background: url('../img/button.png') center/cover no-repeat
    width: 300px
    height: 105px
    text-align: center
    text-decoration: none
    color: #fff
    text-transform: uppercase
    padding: 5px 50px 20px
    margin: 30px auto
    display: flex
    align-items: center
    font-family: "Noteworthy"

.hero
  background: url('../img/bg-1.jpg')
  background-position: top left
  background-size: 100vw
  background-repeat: no-repeat
  padding-top: 65px
  @media screen and (min-width: 2000px)
    padding-top: 200px
  @media screen and (max-width: 819px)
    background-size: cover
    background-position: center
    max-height: 1000px
  .hero_in
    display: flex
    flex-direction: row
    justify-content: center
    @media screen and (max-width: 819px)
      flex-wrap: wrap
      justify-content: space-between
      padding: 0px 15px
    @media screen and (max-width: 767px)
      margin-top: 30px
    .left
      max-width: 50%
      margin-right: -120px
      @media screen and (max-width: 991px)
        margin: 0
      .text
        max-width: 100%
        margin-top: 30px
        @media screen and (max-width: 991px)
          margin: 15px
        img
          min-width: 105%
          @media screen and (max-width: 819px)
            min-width: 160%
      .option
        max-width: 100%
        @media screen and (max-width: 819px)
          margin-top: 80%
          min-width: 100%
        .do_it
          max-width: 60%
          margin-left: 50px
          margin-top: 150px
          margin-bottom: 80px
          font-size: 16px
          line-height: 22px
          @media screen and (max-width: 1500px)
            margin-top: 70px
          @media screen and (max-width: 1280px)
            margin-bottom: 20px
          @media screen and (max-width: 1024px)
            margin-top: 20px
            margin-left: 20px
          @media screen and (max-width: 860px)
            min-width: 100%
          span
            font-size: 18px
            line-height: 22px
            color: white 
            @media screen and (max-width: 910px)
              line-height: 15px
              font-size: 15px
        .new_check
          margin-bottom: 20px
          display: block
          min-width: 100%
          text-align: center
          text-decoration: none
          color: white
          font-size: 20px
          font-family: 'Obelix'
          padding: 20px
          background: url('../img/check_in.png')
          background-repeat: no-repeat
          background-size: cover
          white-space: nowrap
          @media screen and (max-width: 1280px)
            font-size: 17px
            padding: 15px
            min-width: 300px
            max-width: 90%
          @media screen and (max-width: 860px)
            margin-bottom: 10px
        .btn_mycheck
          text-align: center
          text-decoration: none
          color: white
          font-size: 20px
          font-family: 'Obelix'
          padding: 20px
          width: 60%
          display: block
          background: url('../img/my_check.png')
          background-repeat: no-repeat
          @media screen and (max-width: 1280px)
            font-size: 16px
            padding: 10px
            min-width: 200px
    .kids_block
      width: 50%
      margin-bottom: 100px
      @media screen and (max-width: 1500px)
        max-width: 40%
      @media screen and (max-width: 819px)
        max-width: 100%
        margin-top: 15%
        margin-left: -30%
  .check_list
    display: block
    margin-top: 20%
    @media screen and (max-width: 1800px)
      margin-top: 10%
    @media screen and (max-width: 767px)
      margin-top: 200px
      padding: 0 15px
    .title
      display: flex
      flex-direction: row
      justify-content: center
      text-align: center
      min-width: 100%
      margin-bottom: 80px
      margin-top: 30px
      @media screen and (max-width: 767px)
        margin-bottom: 0
      span
        font-family: 'Obelix'
        font-size: 36px
        max-width: 60%
        color: transparent
        -webkit-background-clip: text
        background-image: linear-gradient(10deg, #6181bf, #9f669f)
        @media screen and (max-width: 991px)
          min-width: 100%
        @media screen and (max-width: 514px)
          font-size: 24px
    a, button
      text-decoration: none
      color: #4b9ddf
    .list_top
      display: flex
      flex-direction: row
      justify-content: space-around
      flex-wrap: wrap
      min-width: 100%
      .step
        font-family: 'Obelix'
        max-width: 50%
        display: flex
        flex-direction: row
        align-items: center
        @media screen and (max-width: 767px)
          min-width: 100%
          justify-content: center
          margin-top: 50px
        span
          color: #424242
          margin-left: 20px
          font-size: 16px
          line-height: 32px
          width: 200px
        a
          border-bottom: 4px solid #4b9ddf
        img
          max-width: 40%
          @media screen and (max-width: 514px)
            max-width: 30%
      .see_rules
        display: flex
        flex-direction: column
        align-items: center
        min-width: 100%
        margin-top: 80px
        a
          border-bottom: 1px solid #4b9ddf
      .add_friends
        margin-top: 80px
        display: flex
        flex-direction: row
        align-items: center
        width: 50%
        margin-left: auto
        margin-right: auto
        @media screen and (max-width: 991px)
          flex-wrap: wrap
          justify-content: center
        @media screen and (max-width: 767px)
          min-width: 100%
        .more_good
          margin-left: 20px
          margin-bottom: 30px 
          @media screen and (max-width: 991px)
            text-align: center 
            margin-left: 0
          span:first-child
            background-image: linear-gradient(10deg, #6181bf, #9f669f)
            font-family: 'Obelix'
            font-size: 36px
            line-height: 110px
            color: transparent
            -webkit-background-clip: text
            white-space: nowrap
            @media screen and (max-width: 514px)
              font-size: 20px
          span:last-child
            display: block
            @media screen and (max-width: 991px)
              text-align: center
        img
          @media screen and (max-width: 514px)
            max-width: 80%
        img:hover
          cursor: pointer

.hero_two
  background: url('../img/bg-2.jpg')
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  min-height: 1700px
  margin-top: -5%
  @media screen and (max-width: 1800px)
    margin-top: -400px
  @media screen and (max-width: 819px)
    margin-top: 700px
    background-size: cover
    min-height: 2000px
  @media screen and (max-width: 767px)
    margin-top: 900px
  @media screen and (max-width: 514px)
    margin-top: 650px
    min-height: 1700px
  .prize
    padding-top: 140px
    display: flex
    flex-direction: row
    justify-content: space-around
    min-width: 100%  
    @media screen and (max-width: 1800px)
      padding-top: 120px
    @media screen and (max-width: 991px)
      padding-top: 65px
    @media screen and (max-width: 819px)
      flex-wrap: wrap
      margin-top: 130px
    @media screen and (max-width: 460px)
      margin-top: 0
    .prize_box
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      max-width: 37%
      @media screen and (max-width: 991px)
        max-width: 40%
      @media screen and (max-width: 819px)
        min-width: 90%
        align-items: center
        padding: 0px 15px
        margin-top: 70px
      .wiper
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        background-image: url('../img/bg_white1.png')
        background-size: 100%
        background-position: center
        background-repeat: no-repeat
        height: 170px
        margin-bottom: -85px
        min-width: 100%
        @media screen and (max-width: 819px)
          background-size: 100% 80%
          min-width: 65%
        @media screen and (max-width: 767px)
          min-width: 90%
          background-size: 100% 60%
        @media screen and (max-width: 414px)
          min-width: 100%
        span
          display: block
          color: transparent
          -webkit-background-clip: text
          background-image: linear-gradient(90deg, #6181bf, #a1679f, #cd7d54)
          font-size: 20px
          font-family: 'Obelix'
          @media screen and (max-width: 1199px)
            font-size: 16px
          @media screen and (max-width: 991px)
            font-size: 14px
      .gift
        display: flex
        flex-direction: row
        justify-content: center
        @media screen and (max-width: 1800px)
          max-width: 70%
        @media screen and (max-width: 1400px)
          width: 50%
        @media screen and (max-width: 767px)
          min-width: 70%
      .prize_descr
        display: flex
        flex-direction: row
        justify-content: space-between
        min-width: 100%
        margin-left: 7%
        @media screen and (max-width: 767px)
          margin: 0
        .descr
          margin-top: 30px
          @media screen and (max-width: 1800px)
            margin: 0
          span
            font-family: 'Obelix'
            font-size: 25px
            color: white
            @media screen and (max-width: 991px)
              font-size: 18px
          .descr_down
            display: flex
            flex-direction: row
            justify-content: flex-start
            text-align: start
            margin-top: 30px
            @media screen and (max-width: 1800px)
              margin-top: 10px
            span
              font-size: 18px
              line-height: 22px
              font-family: 'k_helios'
    .prize_box:nth-of-type(2)
      .wiper
        background-image: url('../img/bg_white2.png')
        span
          background-image: linear-gradient(150deg, #3e74bb, #ad6ca4)
      .prize_descr
        margin-right: -100px
        @media screen and (max-width: 767px)
          margin-right: 0

.winner_list
  background: url('../img/bg-3.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 60%
  display: flex
  flex-direction: column
  justify-content: flex-end
  @media screen and (max-width: 1800px)
    margin-top: -200px
  @media screen and (max-width: 1700px)
    margin-top: -300px
    background-size: 100% 60%
  @media screen and (max-width: 1500px)
    background-size: 100% 40%
  @media screen and (max-width: 1440px)
    margin-top: -410px
  @media screen and (max-width: 991px)
    background-size: 100% 30%
  @media screen and (max-width: 819px)
    padding: 0px 15px
    margin-top: 0px
    background-size: cover
  .list_down
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @media screen and (max-width: 819px)
      flex-wrap: wrap
      justify-content: center
    .down_text
      display: flex
      flex-direction: column
      align-items: flex-start
      max-width: 60%
      @media screen and (max-width: 819px)
        min-width: 100%
        text-align: center
        align-items: center
      span
        font-family: 'Obelix'
        font-size: 32px
        line-height: 44px
        margin-bottom: 30px
        letter-spacing: 1px
        color: transparent
        -webkit-background-clip: text
        background-image: linear-gradient(10deg, #6181bf, #9f669f)
        @media screen and (max-width: 767px)
          font-size: 24px
          line-height: 28px
        @media screen and (max-width: 550px)
          font-size: 18px
          line-height: 24px
      a
        color: #4b9ddf
    img
      max-width: 40%
      @media screen and (max-width: 819px)
        width: 60%
        margin-top: 50px
      @media screen and (max-width: 450px)
        margin-top: 30px
  .winner_in
    background: url('../img/Shape.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 100% 100%
    min-width: 100%
    text-align: center
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 100px 0
    height: auto
    padding: 45px 35px
    .swiper 
      width: 80%
      @media screen and (max-width: 460px)
        width: 90%
      .swiper-wrapper
        display: flex
        flex-direction: row
        justify-content: flex-start
        .winner_card
          .winner_week
            font-size: 34px
            font-family: 'Obelix'
            @media screen and (max-width: 991px)
              font-size: 20px
            @media screen and (max-width: 767px)
              font-size: 14px
            @media screen and (max-width: 460px)
              font-size: 12px
          .ticket_info
            display: flex
            flex-direction: row
            justify-content: center
            margin: 40px 0
            @media screen and (max-width: 991px)
              margin: 10px 0px
            span
              display: block
              font-size: 20px
              min-width: 30%
              font-family: 'k_helios'
              font-weight: 900
              @media screen and (max-width: 991px)
                font-size: 14px
              @media screen and (max-width: 767px)
                font-size: 12px
          .winner_name
            display: flex
            flex-direction: row
            justify-content: center
            position: relative
            margin-bottom: 20px
            @media screen and (max-width: 991px)
              margin-bottom: 12px
            span
              min-width: 30%
              color:  #424242
              font-size: 18px
              line-height: 50px
              font-family: 'k_helios'
              font-weight: 900
              @media screen and (max-width: 991px)
                font-size: 14px
              @media screen and (max-width: 767px)
                font-size: 10px
                line-height: 20px
              @media screen and (max-width: 440px)
                line-height: 16px
              @media screen and (max-width: 414px)
                line-height: 14px
            img
              min-width: 100%
              max-height: 10px
              position: absolute
              bottom: -5px
      .prop
        margin: 10px 0 0 0
        min-width: 100%
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .btn-next, .btn-back
          max-width: 40px
          margin: 0 45px
          @media screen and (max-width: 470px)
            width: 22px
        .swiper-button-disabled
          opacity: 0
        .swiper-pagination-bullets
          width: 100px
          display: flex
          flex-direction: row
          align-items: center
          justify-content: center
          .swiper-pagination-bullet
            width: 15px
            height: 15px
            margin: 0 7px
            background-color: white
            border: 1px solid #f04e23
            opacity: 1
            @media screen and (max-width: 470px)
              width: 10px
              height: 10px
          .swiper-pagination-bullet-active
            width: 15px
            height: 15px
            margin: 0 5px
            background-color: #f04e23
            @media screen and (max-width: 470px)
              width: 10px
              height: 10px
  .faq
    min-width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-bottom: 80px
    min-height: 700px
    @media screen and (max-width: 1300px)
      margin-bottom: 0px
    @media screen and (max-width: 767px)
      padding: 0 15px 50px 15px
      margin-bottom: 0
      min-height: 500px
      @media screen and (max-width: 450px)
        padding-top: 70px
    span
      margin-left: auto
      margin-right: auto
      color: #4b9ddf
      font-family: 'Obelix'
      font-size: 32px
      margin-bottom: 50px
      @media screen and (max-width: 767px)
        font-size: 16px
    ul
      margin-left: 100px
      @media screen and (max-width: 991px)
        margin-left: 40px
      @media screen and (max-width: 767px)
        margin-left: 0
      li
        margin: 5px 0
        cursor: pointer
        @media screen and (max-width: 767px)
          margin: 0
        span
          font-size: 24px
          font-weight: 800
          font-family: ('k_helios')
          @media screen and (max-width: 767px)
            font-size: 12px
        .answer
          max-height: 0
          overflow: hidden
          p
            font-size: 18px
            line-height: 22px
            color: #4b9ddf
            margin: 12px 0
            @media screen and (max-width: 767px)
              font-size: 10px  
              margin-top: 0
              margin-bottom: 5px

.modal, .error, .modal_check, .modal_id, .check_time
  visibility: hidden
  min-width: 100%
  z-index: 100
  min-height: 100vh
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 80px 0
  .modal_in
    background: url('../img/bg_mod.png')
    background-repeat: no-repeat
    background-size: 100%
    background-position: center
    min-width: 65%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    padding: 50px 0
    height: 550px
    @media screen and (min-width: 1200px)
      min-height: 640px
    @media screen and (max-width: 991px)
      min-width: 80%
    @media screen and (max-width: 767px)
      background: url('../img/bg_mod_mob.png')
      background-size: 100%
      background-repeat: no-repeat
      background-position: center
      height: 680px
      min-width: 400px
      padding: 0
    @media screen and (max-width: 380px)
      min-width: 380px
    span
      font-family: 'Obelix'
      font-size: 20px
      font-family: 'Obelix'
      font-size: 16px
      line-height: 30px
      margin-top: 10px
      @media screen and (max-width: 991px)
        font-size: 14px
        line-height: 20px
        margin-top: 15px
    input
      background: url('../img/input.png') 
      background-repeat: no-repeat
      background-position: center
      background-size: auto 100%
      border: none
      font-family: 'Obelix'
      font-size: 14px
      text-align: center
      height: 75px
      width: 55%
      margin-top: 3px
      @media screen and (max-width: 1200px)
        height: 65px
        margin-top: 0
      @media screen and (max-width: 767px)
        height: 60px
        font-size: 12px
        width: 300px
    .age
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-items: center
      width: 45%
      height: 45px
      @media screen and (max-width: 991px)
        height: 30px
        margin: 6px 0
      @media screen and (max-width: 767px)
        width: 60%
      .checkbox
        position: absolute
        width: 1px
        height: 1px
        overflow: hidden
        clip: rect(0 0 0 0)
        margin-left: -20px
      .check_style
        position: absolute
        background: url('../img/checkbox.png')
        background-size: 100%
        background-repeat: no-repeat
        background-position: center
        width: 35px
        height: 35px
        margin: 0 
      .checkbox:checked + .check_style::before
        content: ""
        height: 16px
        width: 16px
        background: url('../img/check_time.png')
        background-size: 100%
        background-repeat: no-repeat
        background-position: center
        position: absolute
        left: 8px
        top: 10px
      .checkbox_label
        font-size: 16px
        font-family: 'K_helios'
        font-weight: 900
        margin: 0
        color: #424242
        z-index: 1
        padding-left: 40px 
        white-space: nowrap
    label
      cursor: pointer
    a,button,.file_label
      color: white
      width: 45%
      margin: 7px 0px
      padding: 10px
      text-align: center
      font-family: 'Obelix'
      font-size: 14px
      text-decoration: none
      cursor: pointer
      @media screen and (max-width: 991px)
        padding: 5px 10px
        font-size: 12px
        margin: 5px 0
        width: 55%
        @media screen and (max-width: 767px)
          width: 75%
    a, .file_label
      background: url('../img/load_check.png')
      background-size: 100%
      background-position: center
      @media screen and (max-width: 991px)
        background-size: 80%
        background-repeat: no-repeat
    button
      background: url('../img/btn_send.png')
      &:disabled
        filter: grayscale(1)
      @media screen and (max-width: 991px)
        background-size: 80%
        background-repeat: no-repeat
        background-position: center
    .closed
      position: absolute
      right: 45px
      top: 50px
      max-width: 20px  
      @media screen and (max-width: 991px)
        top: 60px
      @media screen and (max-width: 767px)
        right: 70px
        top: 80px
        max-width: 20px   
    .closed:hover
      cursor: pointer
.check_time
  .modal_in
    max-width: 52%
    @media screen and (max-width: 1200px)
      max-width: 60%
    .mark
      max-width: 20%
      margin-bottom: 20px
      @media screen and (max-width: 767px)
        margin-bottom: 10px
    input
      background-size: 100%
      max-width: 200px
      color: #4b9ddf
      line-height: 50px
      @media screen and (max-width: 767px)
        margin: 10px 0
    span
      font-size: 28px
      margin-bottom: 10px
      @media screen and (max-width: 819px)
        font-size: 18
        line-height: 24px
      @media screen and (max-width: 767px)
        margin-bottom: 0
        font-size: 16px
        line-height: 18px   
    span:nth-of-type(2)
      font-size: 16px
      line-height: 16px
      font-weight: 900
      font-family: 'K_helios'
      margin-top: 5px
      max-width: 80%
      text-align: center
      @media screen and (max-width: 767px)
        font-size: 14px
        line-height: 14px     
    .down
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      margin-top: 10px
      @media screen and (max-width: 767px)
        margin-top: 0
      span
        color: #424242
        font-family: 'K_helios'
        max-width: 65%
        margin: 0
        font-size: 14px
        line-height: 14px
        text-align: center
        @media screen and (max-width: 767px)
          max-width: 80%
.error
  .modal_in
    a
      text-decoration-line: underline
      background: none
      color: #4b9ddf
      font-family: 'K_helios'
      font-size: 16px
      font-weight: 900
    .cross
      max-width: 15%
      @media screen and (max-width: 767px)
        margin: 40px 0px
.modal_id
  .modal_in
    height: 550px
    @media screen and (min-width: 1200px)
      min-height: 640px
    @media screen and (max-width: 767px)
      height: 680px
    .next
      background: url('../img/btn_send.png')
      background-repeat: no-repeat
      background-position: center
      margin: 10px 
      @media screen and (max-width: 991px)
        background-size: 80%
      @media screen and (max-width: 767px)
        width: 75%    
    input
      margin: 10px
    .closed
      position: absolute
      top: 200px
      @media screen and (max-width: 767px)
        top: 230px
.modal_check
  .modal_in
    max-width: 52%
    @media screen and (max-width: 1200px)
      max-width: 60%
    .list
      min-width: 70%
      .check_number
        display: flex
        flex-direction: row
        justify-content: space-around
        position: relative
        @media screen and (max-width: 991px)
          margin-top: 10px
        span
          font-family: 'K_helios'
          font-size: 16px
          font-weight: 900
          width: 150px
        span:first-child
          width: 100px
        .bold_black
          font-weight: 900
        .bold_blue
          color: #4b9ddf
          font-weight: 900
        .bold_red
          color: #de492a
          font-weight: 900
        img
          min-width: 100%
          height: 5px
          position: absolute
          bottom: -6px
    .slider
      margin-top: 20px
      .next
        min-height: 15px
        min-width: 40px
        background: url('../img/arrow.png') 
        background-size: 60%
        background-repeat: no-repeat
    .input_block
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      margin-left: 100px
      height: 70px
      margin-top: 10px 
      margin-bottom: 10px
      span
        color: #4b9ddf
        background: url('../img/check_input.png')
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        width: 250px
        margin-right: 10px
        text-align: center
        line-height: 70px
      a
        display: block
        background: none
        padding: 0
        &.copyed
          img
            opacity: 0
        img
          transition: opacity .3s ease-out
          max-width: 35%
    .down
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      margin-top: 10px
      span
        color: #424242
        font-family: 'K_helios'
        margin: 0
        font-size: 16px
        line-height: 18px
        text-align: center
        max-width: 80%

.show
  visibility: visible
.noscroll
  overflow: hidden


#form_result
  min-height: 20px
  font-size: 16px
  font-family: "Obelix"
  &.status_error
    color: #F3410E