@font-face {
    font-family: 'Fire';
    src: url('../fonts/fire/Firenight-Regular.woff') format('woff'),
         url('../fonts/fire/Firenight-Regular.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
     font-family: 'Obelix';
     src: url('../fonts/Obelix/ObelixPro-kaz.woff') format('woff'),
          url('../fonts/Obelix/ObelixPro-kaz.woff2') format('woff2');
     font-style: normal;
   }
   @font-face {
     font-family: 'k_helios';
     src: url('../fonts/helios/helios-regular.woff') format('woff'),
          url('../fonts/helios/helios-regular.woff2') format('woff2');
     font-style: normal;
   }