.textgreen {
  color: #86A23A;
}

img {
  max-width: 100%;
}

.desk {
  display: block;
}
@media screen and (max-width: 576px) {
  .desk {
    display: none;
  }
}

.mob {
  display: none;
}
@media screen and (max-width: 576px) {
  .mob {
    display: block;
  }
}

.toys {
  margin: 250px 0 0px;
  padding: 100px 0;
  position: relative;
  min-height: 400px;
  background-color: #86A23A;
}
@media screen and (max-width: 576px) {
  .toys {
    margin: 100px 0 0px;
    padding: 30px 0;
  }
}
.toys:after, .toys::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 1200px) {
  .toys:after, .toys::before {
    display: none;
  }
}
.toys:after {
  background: url("../img/green-curve-bottom.png") center/contain no-repeat;
  bottom: -11%;
}
@media screen and (max-width: 576px) {
  .toys:after {
    bottom: -115px;
  }
}
.toys::before {
  top: -170px;
  background: url("../img/green-curve-top.png") center/contain no-repeat;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .toys::before {
    top: -117px;
  }
}
.toys h2 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 95.5%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
@media screen and (max-width: 576px) {
  .toys h2 {
    font-size: 26px;
  }
}
.toys .toysSlider {
  overflow: hidden;
}
.toys .toysSlider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toys .arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.toys .arrow-left {
  left: 50px;
}
.toys .arrow-right {
  right: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.toys .arrow .slide img {
  max-width: 100%;
}
.toys .leaves {
  position: absolute;
  bottom: -200px;
  left: 0;
  z-index: 1;
}

.applaydu {
  position: relative;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  background: url(../img/app-bg.jpg) bottom/contain no-repeat;
}
@media screen and (max-width: 576px) {
  .applaydu {
    padding-top: 150px;
    padding-bottom: 350px;
  }
}
.applaydu::before {
  content: "";
  background: url(../img/leaves-top-left.png) left/contain no-repeat;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .applaydu::before {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .applaydu::before {
    max-width: 100%;
  }
}
.applaydu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: url("../img/app-top.png") center/contain no-repeat;
  bottom: -60px;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .applaydu:after {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .applaydu:after {
    display: none;
  }
}
.applaydu .flamingo {
  position: absolute;
  right: 0;
  top: 100px;
}
@media screen and (max-width: 576px) {
  .applaydu .flamingo {
    display: none;
  }
}
.applaydu .horse {
  position: absolute;
  left: 0;
  bottom: 50px;
}
@media screen and (max-width: 576px) {
  .applaydu .horse {
    bottom: -50px;
    max-width: 200px;
  }
}
.applaydu .applaydulogo {
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .applaydu .applaydulogo {
    max-width: 100%;
  }
}
.applaydu h3 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 178%;
  text-align: center;
  color: #424242;
}
@media screen and (max-width: 576px) {
  .applaydu h3 {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
  }
}
.applaydu .video {
  max-width: 550px;
  margin: 30px auto;
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #424242;
}
@media screen and (max-width: 576px) {
  .applaydu .video {
    font-size: 13px;
    line-height: unset;
  }
}
.applaydu .video img {
  margin: 10px auto;
}
.applaydu .links {
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .applaydu .mob {
    margin-top: 30px;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .applaydu .step {
    margin: 30px auto;
  }
}

.packs {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}
.packs .heart {
  position: absolute;
  top: 10%;
  left: 5%;
}
@media screen and (max-width: 576px) {
  .packs .heart {
    width: 50px;
  }
}
.packs h3 {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 95.5%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #303030;
}
@media screen and (max-width: 576px) {
  .packs h3 {
    font-size: 30px;
  }
}
.packs img {
  max-height: 500px;
  margin: 0 auto;
}
.packs .text {
  font-family: "Noteworthy";
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .packs .text {
    font-size: 22px;
  }
}
.packs .btn {
  background: url("../img/button.png") center/cover no-repeat;
  width: 300px;
  height: 105px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 50px 20px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noteworthy";
}

.hero {
  background: url("../img/bg-1.jpg");
  background-position: top left;
  background-size: 100vw;
  background-repeat: no-repeat;
  padding-top: 65px;
}
@media screen and (min-width: 2000px) {
  .hero {
    padding-top: 200px;
  }
}
@media screen and (max-width: 819px) {
  .hero {
    background-size: cover;
    background-position: center;
    max-height: 1000px;
  }
}
.hero .hero_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 819px) {
  .hero .hero_in {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero_in {
    margin-top: 30px;
  }
}
.hero .hero_in .left {
  max-width: 50%;
  margin-right: -120px;
}
@media screen and (max-width: 991px) {
  .hero .hero_in .left {
    margin: 0;
  }
}
.hero .hero_in .left .text {
  max-width: 100%;
  margin-top: 30px;
}
@media screen and (max-width: 991px) {
  .hero .hero_in .left .text {
    margin: 15px;
  }
}
.hero .hero_in .left .text img {
  min-width: 105%;
}
@media screen and (max-width: 819px) {
  .hero .hero_in .left .text img {
    min-width: 160%;
  }
}
.hero .hero_in .left .option {
  max-width: 100%;
}
@media screen and (max-width: 819px) {
  .hero .hero_in .left .option {
    margin-top: 80%;
    min-width: 100%;
  }
}
.hero .hero_in .left .option .do_it {
  max-width: 60%;
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1500px) {
  .hero .hero_in .left .option .do_it {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1280px) {
  .hero .hero_in .left .option .do_it {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .hero .hero_in .left .option .do_it {
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 860px) {
  .hero .hero_in .left .option .do_it {
    min-width: 100%;
  }
}
.hero .hero_in .left .option .do_it span {
  font-size: 18px;
  line-height: 22px;
  color: white;
}
@media screen and (max-width: 910px) {
  .hero .hero_in .left .option .do_it span {
    line-height: 15px;
    font-size: 15px;
  }
}
.hero .hero_in .left .option .new_check {
  margin-bottom: 20px;
  display: block;
  min-width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Obelix";
  padding: 20px;
  background: url("../img/check_in.png");
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}
@media screen and (max-width: 1280px) {
  .hero .hero_in .left .option .new_check {
    font-size: 17px;
    padding: 15px;
    min-width: 300px;
    max-width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .hero .hero_in .left .option .new_check {
    margin-bottom: 10px;
  }
}
.hero .hero_in .left .option .btn_mycheck {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Obelix";
  padding: 20px;
  width: 60%;
  display: block;
  background: url("../img/my_check.png");
  background-repeat: no-repeat;
}
@media screen and (max-width: 1280px) {
  .hero .hero_in .left .option .btn_mycheck {
    font-size: 16px;
    padding: 10px;
    min-width: 200px;
  }
}
.hero .hero_in .kids_block {
  width: 50%;
  margin-bottom: 100px;
}
@media screen and (max-width: 1500px) {
  .hero .hero_in .kids_block {
    max-width: 40%;
  }
}
@media screen and (max-width: 819px) {
  .hero .hero_in .kids_block {
    max-width: 100%;
    margin-top: 15%;
    margin-left: -30%;
  }
}
.hero .check_list {
  display: block;
  margin-top: 20%;
}
@media screen and (max-width: 1800px) {
  .hero .check_list {
    margin-top: 10%;
  }
}
@media screen and (max-width: 767px) {
  .hero .check_list {
    margin-top: 200px;
    padding: 0 15px;
  }
}
.hero .check_list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;
  margin-bottom: 80px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .hero .check_list .title {
    margin-bottom: 0;
  }
}
.hero .check_list .title span {
  font-family: "Obelix";
  font-size: 36px;
  max-width: 60%;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
}
@media screen and (max-width: 991px) {
  .hero .check_list .title span {
    min-width: 100%;
  }
}
@media screen and (max-width: 514px) {
  .hero .check_list .title span {
    font-size: 24px;
  }
}
.hero .check_list a, .hero .check_list button {
  text-decoration: none;
  color: #4b9ddf;
}
.hero .check_list .list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
}
.hero .check_list .list_top .step {
  font-family: "Obelix";
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .hero .check_list .list_top .step {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}
.hero .check_list .list_top .step span {
  color: #424242;
  margin-left: 20px;
  font-size: 16px;
  line-height: 32px;
  width: 200px;
}
.hero .check_list .list_top .step a {
  border-bottom: 4px solid #4b9ddf;
}
.hero .check_list .list_top .step img {
  max-width: 40%;
}
@media screen and (max-width: 514px) {
  .hero .check_list .list_top .step img {
    max-width: 30%;
  }
}
.hero .check_list .list_top .see_rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  margin-top: 80px;
}
.hero .check_list .list_top .see_rules a {
  border-bottom: 1px solid #4b9ddf;
}
.hero .check_list .list_top .add_friends {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .hero .check_list .list_top .add_friends {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .hero .check_list .list_top .add_friends {
    min-width: 100%;
  }
}
.hero .check_list .list_top .add_friends .more_good {
  margin-left: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .hero .check_list .list_top .add_friends .more_good {
    text-align: center;
    margin-left: 0;
  }
}
.hero .check_list .list_top .add_friends .more_good span:first-child {
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
  font-family: "Obelix";
  font-size: 36px;
  line-height: 110px;
  color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
}
@media screen and (max-width: 514px) {
  .hero .check_list .list_top .add_friends .more_good span:first-child {
    font-size: 20px;
  }
}
.hero .check_list .list_top .add_friends .more_good span:last-child {
  display: block;
}
@media screen and (max-width: 991px) {
  .hero .check_list .list_top .add_friends .more_good span:last-child {
    text-align: center;
  }
}
@media screen and (max-width: 514px) {
  .hero .check_list .list_top .add_friends img {
    max-width: 80%;
  }
}
.hero .check_list .list_top .add_friends img:hover {
  cursor: pointer;
}

.hero_two {
  background: url("../img/bg-2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1700px;
  margin-top: -5%;
}
@media screen and (max-width: 1800px) {
  .hero_two {
    margin-top: -400px;
  }
}
@media screen and (max-width: 819px) {
  .hero_two {
    margin-top: 700px;
    background-size: cover;
    min-height: 2000px;
  }
}
@media screen and (max-width: 767px) {
  .hero_two {
    margin-top: 900px;
  }
}
@media screen and (max-width: 514px) {
  .hero_two {
    margin-top: 650px;
    min-height: 1700px;
  }
}
.hero_two .prize {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
}
@media screen and (max-width: 1800px) {
  .hero_two .prize {
    padding-top: 120px;
  }
}
@media screen and (max-width: 991px) {
  .hero_two .prize {
    padding-top: 65px;
  }
}
@media screen and (max-width: 819px) {
  .hero_two .prize {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 130px;
  }
}
@media screen and (max-width: 460px) {
  .hero_two .prize {
    margin-top: 0;
  }
}
.hero_two .prize .prize_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 37%;
}
@media screen and (max-width: 991px) {
  .hero_two .prize .prize_box {
    max-width: 40%;
  }
}
@media screen and (max-width: 819px) {
  .hero_two .prize .prize_box {
    min-width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 15px;
    margin-top: 70px;
  }
}
.hero_two .prize .prize_box .wiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/bg_white1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 170px;
  margin-bottom: -85px;
  min-width: 100%;
}
@media screen and (max-width: 819px) {
  .hero_two .prize .prize_box .wiper {
    background-size: 100% 80%;
    min-width: 65%;
  }
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .wiper {
    min-width: 90%;
    background-size: 100% 60%;
  }
}
@media screen and (max-width: 414px) {
  .hero_two .prize .prize_box .wiper {
    min-width: 100%;
  }
}
.hero_two .prize .prize_box .wiper span {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#6181bf), color-stop(#a1679f), to(#cd7d54));
  background-image: linear-gradient(90deg, #6181bf, #a1679f, #cd7d54);
  font-size: 20px;
  font-family: "Obelix";
}
@media screen and (max-width: 1199px) {
  .hero_two .prize .prize_box .wiper span {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .hero_two .prize .prize_box .wiper span {
    font-size: 14px;
  }
}
.hero_two .prize .prize_box .gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1800px) {
  .hero_two .prize .prize_box .gift {
    max-width: 70%;
  }
}
@media screen and (max-width: 1400px) {
  .hero_two .prize .prize_box .gift {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .gift {
    min-width: 70%;
  }
}
.hero_two .prize .prize_box .prize_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  margin-left: 7%;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box .prize_descr {
    margin: 0;
  }
}
.hero_two .prize .prize_box .prize_descr .descr {
  margin-top: 30px;
}
@media screen and (max-width: 1800px) {
  .hero_two .prize .prize_box .prize_descr .descr {
    margin: 0;
  }
}
.hero_two .prize .prize_box .prize_descr .descr span {
  font-family: "Obelix";
  font-size: 25px;
  color: white;
}
@media screen and (max-width: 991px) {
  .hero_two .prize .prize_box .prize_descr .descr span {
    font-size: 18px;
  }
}
.hero_two .prize .prize_box .prize_descr .descr .descr_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
  margin-top: 30px;
}
@media screen and (max-width: 1800px) {
  .hero_two .prize .prize_box .prize_descr .descr .descr_down {
    margin-top: 10px;
  }
}
.hero_two .prize .prize_box .prize_descr .descr .descr_down span {
  font-size: 18px;
  line-height: 22px;
  font-family: "k_helios";
}
.hero_two .prize .prize_box:nth-of-type(2) .wiper {
  background-image: url("../img/bg_white2.png");
}
.hero_two .prize .prize_box:nth-of-type(2) .wiper span {
  background-image: linear-gradient(150deg, #3e74bb, #ad6ca4);
}
.hero_two .prize .prize_box:nth-of-type(2) .prize_descr {
  margin-right: -100px;
}
@media screen and (max-width: 767px) {
  .hero_two .prize .prize_box:nth-of-type(2) .prize_descr {
    margin-right: 0;
  }
}

.winner_list {
  background: url("../img/bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1800px) {
  .winner_list {
    margin-top: -200px;
  }
}
@media screen and (max-width: 1700px) {
  .winner_list {
    margin-top: -300px;
    background-size: 100% 60%;
  }
}
@media screen and (max-width: 1500px) {
  .winner_list {
    background-size: 100% 40%;
  }
}
@media screen and (max-width: 1440px) {
  .winner_list {
    margin-top: -410px;
  }
}
@media screen and (max-width: 991px) {
  .winner_list {
    background-size: 100% 30%;
  }
}
@media screen and (max-width: 819px) {
  .winner_list {
    padding: 0px 15px;
    margin-top: 0px;
    background-size: cover;
  }
}
.winner_list .list_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 819px) {
  .winner_list .list_down {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.winner_list .list_down .down_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 60%;
}
@media screen and (max-width: 819px) {
  .winner_list .list_down .down_text {
    min-width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.winner_list .list_down .down_text span {
  font-family: "Obelix";
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(10deg, #6181bf, #9f669f);
}
@media screen and (max-width: 767px) {
  .winner_list .list_down .down_text span {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 550px) {
  .winner_list .list_down .down_text span {
    font-size: 18px;
    line-height: 24px;
  }
}
.winner_list .list_down .down_text a {
  color: #4b9ddf;
}
.winner_list .list_down img {
  max-width: 40%;
}
@media screen and (max-width: 819px) {
  .winner_list .list_down img {
    width: 60%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 450px) {
  .winner_list .list_down img {
    margin-top: 30px;
  }
}
.winner_list .winner_in {
  background: url("../img/Shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
  height: auto;
  padding: 45px 35px;
}
.winner_list .winner_in .swiper {
  width: 80%;
}
@media screen and (max-width: 460px) {
  .winner_list .winner_in .swiper {
    width: 90%;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_week {
  font-size: 34px;
  font-family: "Obelix";
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_week {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_week {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_week {
    font-size: 12px;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .ticket_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .ticket_info {
    margin: 10px 0px;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .ticket_info span {
  display: block;
  font-size: 20px;
  min-width: 30%;
  font-family: "k_helios";
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .ticket_info span {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .ticket_info span {
    font-size: 12px;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name {
    margin-bottom: 12px;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name span {
  min-width: 30%;
  color: #424242;
  font-size: 18px;
  line-height: 50px;
  font-family: "k_helios";
  font-weight: 900;
}
@media screen and (max-width: 991px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name span {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name span {
    font-size: 10px;
    line-height: 20px;
  }
}
@media screen and (max-width: 440px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name span {
    line-height: 16px;
  }
}
@media screen and (max-width: 414px) {
  .winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name span {
    line-height: 14px;
  }
}
.winner_list .winner_in .swiper .swiper-wrapper .winner_card .winner_name img {
  min-width: 100%;
  max-height: 10px;
  position: absolute;
  bottom: -5px;
}
.winner_list .winner_in .swiper .prop {
  margin: 10px 0 0 0;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.winner_list .winner_in .swiper .prop .btn-next, .winner_list .winner_in .swiper .prop .btn-back {
  max-width: 40px;
  margin: 0 45px;
}
@media screen and (max-width: 470px) {
  .winner_list .winner_in .swiper .prop .btn-next, .winner_list .winner_in .swiper .prop .btn-back {
    width: 22px;
  }
}
.winner_list .winner_in .swiper .prop .swiper-button-disabled {
  opacity: 0;
}
.winner_list .winner_in .swiper .prop .swiper-pagination-bullets {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.winner_list .winner_in .swiper .prop .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background-color: white;
  border: 1px solid #f04e23;
  opacity: 1;
}
@media screen and (max-width: 470px) {
  .winner_list .winner_in .swiper .prop .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
.winner_list .winner_in .swiper .prop .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #f04e23;
}
@media screen and (max-width: 470px) {
  .winner_list .winner_in .swiper .prop .swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
  }
}
.winner_list .faq {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 80px;
  min-height: 700px;
}
@media screen and (max-width: 1300px) {
  .winner_list .faq {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .faq {
    padding: 0 15px 50px 15px;
    margin-bottom: 0;
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) and (max-width: 450px) {
  .winner_list .faq {
    padding-top: 70px;
  }
}
.winner_list .faq span {
  margin-left: auto;
  margin-right: auto;
  color: #4b9ddf;
  font-family: "Obelix";
  font-size: 32px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .winner_list .faq span {
    font-size: 16px;
  }
}
.winner_list .faq ul {
  margin-left: 100px;
}
@media screen and (max-width: 991px) {
  .winner_list .faq ul {
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul {
    margin-left: 0;
  }
}
.winner_list .faq ul li {
  margin: 5px 0;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li {
    margin: 0;
  }
}
.winner_list .faq ul li span {
  font-size: 24px;
  font-weight: 800;
  font-family: "k_helios";
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li span {
    font-size: 12px;
  }
}
.winner_list .faq ul li .answer {
  max-height: 0;
  overflow: hidden;
}
.winner_list .faq ul li .answer p {
  font-size: 18px;
  line-height: 22px;
  color: #4b9ddf;
  margin: 12px 0;
}
@media screen and (max-width: 767px) {
  .winner_list .faq ul li .answer p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.modal, .error, .modal_check, .modal_id, .check_time {
  visibility: hidden;
  min-width: 100%;
  z-index: 100;
  min-height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}
.modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in, .check_time .modal_in {
  background: url("../img/bg_mod.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 50px 0;
  height: 550px;
}
@media screen and (min-width: 1200px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in, .check_time .modal_in {
    min-height: 640px;
  }
}
@media screen and (max-width: 991px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in, .check_time .modal_in {
    min-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in, .check_time .modal_in {
    background: url("../img/bg_mod_mob.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
    min-width: 400px;
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .modal .modal_in, .error .modal_in, .modal_check .modal_in, .modal_id .modal_in, .check_time .modal_in {
    min-width: 380px;
  }
}
.modal .modal_in span, .error .modal_in span, .modal_check .modal_in span, .modal_id .modal_in span, .check_time .modal_in span {
  font-family: "Obelix";
  font-size: 20px;
  font-family: "Obelix";
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 991px) {
  .modal .modal_in span, .error .modal_in span, .modal_check .modal_in span, .modal_id .modal_in span, .check_time .modal_in span {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }
}
.modal .modal_in input, .error .modal_in input, .modal_check .modal_in input, .modal_id .modal_in input, .check_time .modal_in input {
  background: url("../img/input.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  border: none;
  font-family: "Obelix";
  font-size: 14px;
  text-align: center;
  height: 75px;
  width: 55%;
  margin-top: 3px;
}
@media screen and (max-width: 1200px) {
  .modal .modal_in input, .error .modal_in input, .modal_check .modal_in input, .modal_id .modal_in input, .check_time .modal_in input {
    height: 65px;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal_in input, .error .modal_in input, .modal_check .modal_in input, .modal_id .modal_in input, .check_time .modal_in input {
    height: 60px;
    font-size: 12px;
    width: 300px;
  }
}
.modal .modal_in .age, .error .modal_in .age, .modal_check .modal_in .age, .modal_id .modal_in .age, .check_time .modal_in .age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 45px;
}
@media screen and (max-width: 991px) {
  .modal .modal_in .age, .error .modal_in .age, .modal_check .modal_in .age, .modal_id .modal_in .age, .check_time .modal_in .age {
    height: 30px;
    margin: 6px 0;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal_in .age, .error .modal_in .age, .modal_check .modal_in .age, .modal_id .modal_in .age, .check_time .modal_in .age {
    width: 60%;
  }
}
.modal .modal_in .age .checkbox, .error .modal_in .age .checkbox, .modal_check .modal_in .age .checkbox, .modal_id .modal_in .age .checkbox, .check_time .modal_in .age .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin-left: -20px;
}
.modal .modal_in .age .check_style, .error .modal_in .age .check_style, .modal_check .modal_in .age .check_style, .modal_id .modal_in .age .check_style, .check_time .modal_in .age .check_style {
  position: absolute;
  background: url("../img/checkbox.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 0;
}
.modal .modal_in .age .checkbox:checked + .check_style::before, .error .modal_in .age .checkbox:checked + .check_style::before, .modal_check .modal_in .age .checkbox:checked + .check_style::before, .modal_id .modal_in .age .checkbox:checked + .check_style::before, .check_time .modal_in .age .checkbox:checked + .check_style::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/check_time.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 8px;
  top: 10px;
}
.modal .modal_in .age .checkbox_label, .error .modal_in .age .checkbox_label, .modal_check .modal_in .age .checkbox_label, .modal_id .modal_in .age .checkbox_label, .check_time .modal_in .age .checkbox_label {
  font-size: 16px;
  font-family: "K_helios";
  font-weight: 900;
  margin: 0;
  color: #424242;
  z-index: 1;
  padding-left: 40px;
  white-space: nowrap;
}
.modal .modal_in label, .error .modal_in label, .modal_check .modal_in label, .modal_id .modal_in label, .check_time .modal_in label {
  cursor: pointer;
}
.modal .modal_in a, .modal .modal_in button, .modal .modal_in .file_label, .error .modal_in a, .error .modal_in button, .error .modal_in .file_label, .modal_check .modal_in a, .modal_check .modal_in button, .modal_check .modal_in .file_label, .modal_id .modal_in a, .modal_id .modal_in button, .modal_id .modal_in .file_label, .check_time .modal_in a, .check_time .modal_in button, .check_time .modal_in .file_label {
  color: white;
  width: 45%;
  margin: 7px 0px;
  padding: 10px;
  text-align: center;
  font-family: "Obelix";
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .modal .modal_in a, .modal .modal_in button, .modal .modal_in .file_label, .error .modal_in a, .error .modal_in button, .error .modal_in .file_label, .modal_check .modal_in a, .modal_check .modal_in button, .modal_check .modal_in .file_label, .modal_id .modal_in a, .modal_id .modal_in button, .modal_id .modal_in .file_label, .check_time .modal_in a, .check_time .modal_in button, .check_time .modal_in .file_label {
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px 0;
    width: 55%;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .modal .modal_in a, .modal .modal_in button, .modal .modal_in .file_label, .error .modal_in a, .error .modal_in button, .error .modal_in .file_label, .modal_check .modal_in a, .modal_check .modal_in button, .modal_check .modal_in .file_label, .modal_id .modal_in a, .modal_id .modal_in button, .modal_id .modal_in .file_label, .check_time .modal_in a, .check_time .modal_in button, .check_time .modal_in .file_label {
    width: 75%;
  }
}
.modal .modal_in a, .modal .modal_in .file_label, .error .modal_in a, .error .modal_in .file_label, .modal_check .modal_in a, .modal_check .modal_in .file_label, .modal_id .modal_in a, .modal_id .modal_in .file_label, .check_time .modal_in a, .check_time .modal_in .file_label {
  background: url("../img/load_check.png");
  background-size: 100%;
  background-position: center;
}
@media screen and (max-width: 991px) {
  .modal .modal_in a, .modal .modal_in .file_label, .error .modal_in a, .error .modal_in .file_label, .modal_check .modal_in a, .modal_check .modal_in .file_label, .modal_id .modal_in a, .modal_id .modal_in .file_label, .check_time .modal_in a, .check_time .modal_in .file_label {
    background-size: 80%;
    background-repeat: no-repeat;
  }
}
.modal .modal_in button, .error .modal_in button, .modal_check .modal_in button, .modal_id .modal_in button, .check_time .modal_in button {
  background: url("../img/btn_send.png");
}
.modal .modal_in button:disabled, .error .modal_in button:disabled, .modal_check .modal_in button:disabled, .modal_id .modal_in button:disabled, .check_time .modal_in button:disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media screen and (max-width: 991px) {
  .modal .modal_in button, .error .modal_in button, .modal_check .modal_in button, .modal_id .modal_in button, .check_time .modal_in button {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.modal .modal_in .closed, .error .modal_in .closed, .modal_check .modal_in .closed, .modal_id .modal_in .closed, .check_time .modal_in .closed {
  position: absolute;
  right: 45px;
  top: 50px;
  max-width: 20px;
}
@media screen and (max-width: 991px) {
  .modal .modal_in .closed, .error .modal_in .closed, .modal_check .modal_in .closed, .modal_id .modal_in .closed, .check_time .modal_in .closed {
    top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .modal .modal_in .closed, .error .modal_in .closed, .modal_check .modal_in .closed, .modal_id .modal_in .closed, .check_time .modal_in .closed {
    right: 70px;
    top: 80px;
    max-width: 20px;
  }
}
.modal .modal_in .closed:hover, .error .modal_in .closed:hover, .modal_check .modal_in .closed:hover, .modal_id .modal_in .closed:hover, .check_time .modal_in .closed:hover {
  cursor: pointer;
}

.check_time .modal_in {
  max-width: 52%;
}
@media screen and (max-width: 1200px) {
  .check_time .modal_in {
    max-width: 60%;
  }
}
.check_time .modal_in .mark {
  max-width: 20%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .check_time .modal_in .mark {
    margin-bottom: 10px;
  }
}
.check_time .modal_in input {
  background-size: 100%;
  max-width: 200px;
  color: #4b9ddf;
  line-height: 50px;
}
@media screen and (max-width: 767px) {
  .check_time .modal_in input {
    margin: 10px 0;
  }
}
.check_time .modal_in span {
  font-size: 28px;
  margin-bottom: 10px;
}
@media screen and (max-width: 819px) {
  .check_time .modal_in span {
    font-size: 18;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .check_time .modal_in span {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
  }
}
.check_time .modal_in span:nth-of-type(2) {
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  font-family: "K_helios";
  margin-top: 5px;
  max-width: 80%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .check_time .modal_in span:nth-of-type(2) {
    font-size: 14px;
    line-height: 14px;
  }
}
.check_time .modal_in .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .check_time .modal_in .down {
    margin-top: 0;
  }
}
.check_time .modal_in .down span {
  color: #424242;
  font-family: "K_helios";
  max-width: 65%;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .check_time .modal_in .down span {
    max-width: 80%;
  }
}

.error .modal_in a {
  text-decoration-line: underline;
  background: none;
  color: #4b9ddf;
  font-family: "K_helios";
  font-size: 16px;
  font-weight: 900;
}
.error .modal_in .cross {
  max-width: 15%;
}
@media screen and (max-width: 767px) {
  .error .modal_in .cross {
    margin: 40px 0px;
  }
}

.modal_id .modal_in {
  height: 550px;
}
@media screen and (min-width: 1200px) {
  .modal_id .modal_in {
    min-height: 640px;
  }
}
@media screen and (max-width: 767px) {
  .modal_id .modal_in {
    height: 680px;
  }
}
.modal_id .modal_in .next {
  background: url("../img/btn_send.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}
@media screen and (max-width: 991px) {
  .modal_id .modal_in .next {
    background-size: 80%;
  }
}
@media screen and (max-width: 767px) {
  .modal_id .modal_in .next {
    width: 75%;
  }
}
.modal_id .modal_in input {
  margin: 10px;
}
.modal_id .modal_in .closed {
  position: absolute;
  top: 200px;
}
@media screen and (max-width: 767px) {
  .modal_id .modal_in .closed {
    top: 230px;
  }
}

.modal_check .modal_in {
  max-width: 52%;
}
@media screen and (max-width: 1200px) {
  .modal_check .modal_in {
    max-width: 60%;
  }
}
.modal_check .modal_in .list {
  min-width: 70%;
}
.modal_check .modal_in .list .check_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
@media screen and (max-width: 991px) {
  .modal_check .modal_in .list .check_number {
    margin-top: 10px;
  }
}
.modal_check .modal_in .list .check_number span {
  font-family: "K_helios";
  font-size: 16px;
  font-weight: 900;
  width: 150px;
}
.modal_check .modal_in .list .check_number span:first-child {
  width: 100px;
}
.modal_check .modal_in .list .check_number .bold_black {
  font-weight: 900;
}
.modal_check .modal_in .list .check_number .bold_blue {
  color: #4b9ddf;
  font-weight: 900;
}
.modal_check .modal_in .list .check_number .bold_red {
  color: #de492a;
  font-weight: 900;
}
.modal_check .modal_in .list .check_number img {
  min-width: 100%;
  height: 5px;
  position: absolute;
  bottom: -6px;
}
.modal_check .modal_in .slider {
  margin-top: 20px;
}
.modal_check .modal_in .slider .next {
  min-height: 15px;
  min-width: 40px;
  background: url("../img/arrow.png");
  background-size: 60%;
  background-repeat: no-repeat;
}
.modal_check .modal_in .input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal_check .modal_in .input_block span {
  color: #4b9ddf;
  background: url("../img/check_input.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 250px;
  margin-right: 10px;
  text-align: center;
  line-height: 70px;
}
.modal_check .modal_in .input_block a {
  display: block;
  background: none;
  padding: 0;
}
.modal_check .modal_in .input_block a.copyed img {
  opacity: 0;
}
.modal_check .modal_in .input_block a img {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  max-width: 35%;
}
.modal_check .modal_in .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.modal_check .modal_in .down span {
  color: #424242;
  font-family: "K_helios";
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  max-width: 80%;
}

.show {
  visibility: visible;
}

.noscroll {
  overflow: hidden;
}

#form_result {
  min-height: 20px;
  font-size: 16px;
  font-family: "Obelix";
}
#form_result.status_error {
  color: #F3410E;
}/*# sourceMappingURL=style.css.map */